{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "max-len": ["error", 140, 2],
  "tabWidth": 2,
  "useTabs": false,
  "braceStyle": "1tbs"
}
